<div bsModal #changePasswordModel="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="changePasswordModel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #changePasswordForm="ngForm" id="frm_change_password" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <span>{{l("changePassword")}}</span>
                </h4>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="currentPwd" [(ngModel)]="changePassword.currentPassword" type="password" name="currentPwd" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="currentPwd" class="form-label">{{l("CurrentPassword")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="newPwd" [(ngModel)]="changePassword.newPassword" type="password" name="newPwd" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="newPwd" class="form-label">{{l("NewPassword")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="confirmPwd" [(ngModel)]="changePassword.confirmPassword" type="password" name="confirmPwd" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="confirmPwd" class="form-label">{{l("ConfirmPassword")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                    {{l("Cancel")}}
                </button>
                <button [disabled]="!changePasswordForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                    {{l("Save")}}
                </button>
                </div>
            </form>

        </div>
    </div>
</div>