<div class="card" [@routerTransition]>
  <div class="body">
    <form #resetForm="ngForm" method="post" novalidate (ngSubmit)="save()">
      <h4 class="text-center">{{ l("ResetPassword") }}</h4>
      <p>{{ l("ResetPasswordDescription") }}</p>
      <br>
      <div class="form-group form-float">

        <div class="form-line">
          <input materialIput [(ngModel)]="input.password"
            autofocus
            class="form-control"
            type="password"
            autocomplete="off"
            placeholder="{{ l('Password') }}"
            name="password"
            required
            maxlength="100" />
        </div>

        <div class="form-line">
            <input materialIput [(ngModel)]="confirmPassword"
              autofocus
              class="form-control"
              type="password"
              autocomplete="off"
              placeholder="{{ l('ConfirmPassword') }}"
              name="confirmPassword"
              required
              maxlength="100" />
          </div>

      </div>

      <div class="form-actions">
          <button [disabled]="saving" (click)="back();"  type="button" class="btn btn-default">{{l("Back")}}</button>
          <button type="submit" class="btn btn-success" [disabled]="!resetForm.form.valid || saving">{{l("Submit")}}</button>
      </div>

    </form>
  </div>
</div>