<div class="card" [@routerTransition]>
  <div #cardBody class="body">
    <form #registerForm="ngForm" method="post" novalidate (ngSubmit)="save()">
      <h4 class="text-center">{{ l("Forgotpassword") }}</h4>
      <p>{{ l("ForgotpasswordDescription") }}</p>
      <br>
      <div class="form-group form-float">
          <div class="form-line">
              <input materialInput 
                  [(ngModel)]="forgotPasswordDto.email" 
                  #email = "ngModel"
                  autoFocus 
                  class="form-control" 
                  type="email" 
                  autocomplete="off" 
                  placeholder="{{l('EmailAddress')}}" 
                  name="email" 
                  required 
                  maxlength="255"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
          </div>    
      </div>
      <div class="form-actions">
          <button [disabled]="saving" (click)="back()"  type="button" class="btn btn-default">{{l("Back")}}</button>
          <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid || saving">{{l("Submit")}}</button>
      </div>
    </form>
  </div>
</div>